//* colors
$color-primary: #5a4ad1;
$color-secondary: #d1d5dbd9;
$color-tertiary: #40434a;
$color-quaternary: #121127;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #f3f5fa;

$color-grey-dark: #656464;
$color-grey-dark-2: #818997;
$color-grey-dark-3: #222222;
$color-grey-dark-4: #151b28;

$color-white: #fff;
$color-black: #000;

$link-color: #007fff;

//** FONT
$default-font-size: 1.6rem;